# Lib

In [52]:
import re

# File path
file_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Điểm chuẩn.md"

# Read the file
with open(file_path, 'r', encoding='utf-8') as file:
    content = file.read()

# Extract all Heading 3 (###) into a list
heading_3_list = re.findall(r"^### (.+)", content, re.MULTILINE)

# Clean the list: remove \xa0 and ** from headings
heading_3_list = [heading.replace('\xa0', ' ').replace('**', '') for heading in heading_3_list]

# Print the cleaned list
print("Cleaned Heading 3 List:")
print(heading_3_list)

# Optionally save to a file or use the list further

Cleaned Heading 3 List:
['Điểm chuẩn theo phương thức Điểm thi THPT năm 2024', 'Điểm chuẩn theo phương thức Điểm học bạ năm 2024', 'Điểm chuẩn theo phương thức Điểm ĐGNL HCM năm 2024', 'Điểm chuẩn theo phương thức ƯTXT, XT thẳng năm 2024', 'Điểm chuẩn theo phương thức Điểm thi THPT năm 2023', 'Điểm chuẩn theo phương thức Điểm học bạ năm 2023', 'Điểm chuẩn theo phương thức Điểm ĐGNL HCM năm 2023', 'Điểm chuẩn theo phương thức Điểm thi THPT năm 2022', 'Điểm chuẩn theo phương thức Điểm học bạ năm 2022', 'Điểm chuẩn theo phương thức Điểm ĐGNL HCM năm 2022', 'Điểm chuẩn theo phương thức Điểm thi THPT năm 2021', 'Điểm chuẩn theo phương thức Điểm ĐGNL HCM năm 2021']

In [53]:
import pandas as pd
import re
import os

# File path
file_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Điểm chuẩn.md"

# Output folder
output_folder = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables"
os.makedirs(output_folder, exist_ok=True)  # Create folder if it doesn't exist

# Read the file
with open(file_path, 'r', encoding='utf-8') as file:
    content = file.read()

# Extract all Heading 3 (###) into a list
heading_3_list = re.findall(r"^### (.+)", content, re.MULTILINE)

# Clean the list: remove \xa0 and ** from headings
heading_3_list = [heading.replace('\xa0', ' ').replace('**', '') for heading in heading_3_list]

# Print the cleaned list
print("Cleaned Heading 3 List:")
print(heading_3_list)

# Function to parse markdown tables
def extract_markdown_tables(content):
    tables = []
    matches = re.findall(r'(\|.*?\|\n(?:\|[-:|]*\|\n)?(?:\|.*?\|\n)*)', content)
    for match in matches:
        rows = [row.strip().split('|')[1:-1] for row in match.strip().split('\n') if row.startswith('|')]
        if len(rows) > 1:  # Check for valid table
            headers = [header.strip() for header in rows[0]]
            data = [[cell.strip() for cell in row] for row in rows[1:]]
            tables.append(pd.DataFrame(data, columns=headers))
    return tables

# Extract tables
tables = extract_markdown_tables(content)

# Save tables with corresponding Heading 3 as filenames
for idx, (table, heading) in enumerate(zip(tables, heading_3_list)):
    # Clean heading for file name (remove spaces, limit length)
    file_name = f"{idx+1}_{heading[:50].replace(' ', '_').replace('/', '_')}.csv"
    file_path = os.path.join(output_folder, file_name)
    
    # Save the table to a CSV file
    table.to_csv(file_path, index=False)
    print(f"Saved: {file_path}")

print("All tables have been saved successfully!")

Cleaned Heading 3 List:
['Điểm chuẩn theo phương thức Điểm thi THPT năm 2024', 'Điểm chuẩn theo phương thức Điểm học bạ năm 2024', 'Điểm chuẩn theo phương thức Điểm ĐGNL HCM năm 2024', 'Điểm chuẩn theo phương thức ƯTXT, XT thẳng năm 2024', 'Điểm chuẩn theo phương thức Điểm thi THPT năm 2023', 'Điểm chuẩn theo phương thức Điểm học bạ năm 2023', 'Điểm chuẩn theo phương thức Điểm ĐGNL HCM năm 2023', 'Điểm chuẩn theo phương thức Điểm thi THPT năm 2022', 'Điểm chuẩn theo phương thức Điểm học bạ năm 2022', 'Điểm chuẩn theo phương thức Điểm ĐGNL HCM năm 2022', 'Điểm chuẩn theo phương thức Điểm thi THPT năm 2021', 'Điểm chuẩn theo phương thức Điểm ĐGNL HCM năm 2021']
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\1_Điểm_chuẩn_theo_phương_thức_Điểm_thi_THPT_năm_2024.csv
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\2_Điểm_chuẩn_theo_phương_thức_Điểm_học_bạ_năm_2024.csv
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\3_Điểm_chuẩn_theo_phương_thức_Điểm_ĐGNL_HCM_năm_2024.csv
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\4_Điểm_chuẩn_theo_phương_thức_ƯTXT,_XT_thẳng_năm_202.csv
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\5_Điểm_chuẩn_theo_phương_thức_Điểm_thi_THPT_năm_2023.csv
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\6_Điểm_chuẩn_theo_phương_thức_Điểm_học_bạ_năm_2023.csv
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\7_Điểm_chuẩn_theo_phương_thức_Điểm_ĐGNL_HCM_năm_2023.csv
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\8_Điểm_chuẩn_theo_phương_thức_Điểm_thi_THPT_năm_2022.csv
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\9_Điểm_chuẩn_theo_phương_thức_Điểm_học_bạ_năm_2022.csv
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\10_Điểm_chuẩn_theo_phương_thức_Điểm_ĐGNL_HCM_năm_2022.csv
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\11_Điểm_chuẩn_theo_phương_thức_Điểm_thi_THPT_năm_2021.csv
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\12_Điểm_chuẩn_theo_phương_thức_Điểm_ĐGNL_HCM_năm_2021.csv
All tables have been saved successfully!

# Extract final UEH

In [22]:
import pandas as pd
import re
import os

# File path
file_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Điểm chuẩn.md"

# Output folder
output_folder = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables"
os.makedirs(output_folder, exist_ok=True)  # Create folder if it doesn't exist

# Read the file
with open(file_path, 'r', encoding='utf-8') as file:
    content = file.read()

# Extract all Heading 3 (###) into a list
heading_3_list = re.findall(r"^### (.+)", content, re.MULTILINE)

# Clean the list: remove \xa0 and ** from headings
heading_3_list = [heading.replace('\xa0', ' ').replace('**', '') for heading in heading_3_list]

# Function to parse markdown tables
def extract_markdown_tables(content):
    tables = []
    matches = re.findall(r'(\|.*?\|\n(?:\|[-:|]*\|\n)?(?:\|.*?\|\n)*)', content)
    for match in matches:
        rows = [row.strip().split('|')[1:-1] for row in match.strip().split('\n') if row.startswith('|')]
        if len(rows) > 1:  # Check for valid table
            # Remove the second row (separator row)
            rows.pop(1)
            headers = [header.strip() for header in rows[0]]
            data = [[cell.strip() for cell in row] for row in rows[1:]]
            tables.append(pd.DataFrame(data, columns=headers))
    return tables

# Extract tables
tables = extract_markdown_tables(content)   

# Save tables with corresponding Heading 3 as filenames in .xlsx format
for idx, (table, heading) in enumerate(zip(tables, heading_3_list)):
    # Clean heading for file name (remove spaces, limit length)
    file_name = f"{idx+1}_{heading[:50].replace(' ', '_').replace('/', '_')}.xlsx"
    file_path = os.path.join(output_folder, file_name)
    
    # Save the table to an Excel file
    table.to_excel(file_path, index=False, engine='openpyxl')
    print(f"Saved: {file_path}")

print("All tables have been saved successfully!")

Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\1_Điểm_chuẩn_theo_phương_thức_Điểm_thi_THPT_năm_2024.xlsx
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\2_Điểm_chuẩn_theo_phương_thức_Điểm_học_bạ_năm_2024.xlsx
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\3_Điểm_chuẩn_theo_phương_thức_Điểm_ĐGNL_HCM_năm_2024.xlsx
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\4_Điểm_chuẩn_theo_phương_thức_ƯTXT,_XT_thẳng_năm_202.xlsx
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\5_Điểm_chuẩn_theo_phương_thức_Điểm_thi_THPT_năm_2023.xlsx
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\6_Điểm_chuẩn_theo_phương_thức_Điểm_học_bạ_năm_2023.xlsx
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\7_Điểm_chuẩn_theo_phương_thức_Điểm_ĐGNL_HCM_năm_2023.xlsx
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\8_Điểm_chuẩn_theo_phương_thức_Điểm_thi_THPT_năm_2022.xlsx
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\9_Điểm_chuẩn_theo_phương_thức_Điểm_học_bạ_năm_2022.xlsx
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\10_Điểm_chuẩn_theo_phương_thức_Điểm_ĐGNL_HCM_năm_2022.xlsx
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\11_Điểm_chuẩn_theo_phương_thức_Điểm_thi_THPT_năm_2021.xlsx
Saved: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\UEH\Tables\12_Điểm_chuẩn_theo_phương_thức_Điểm_ĐGNL_HCM_năm_2021.xlsx
All tables have been saved successfully!

### UEH
- https://dbdiagram.io/d
- Có 12 trường 
- Mình đang tính làm sql db về các trường. Bạn giúp mình hướng thiết kế về db đó đi
STT,Mã ngành,Tên ngành,Tổ hợp môn,Điểm chuẩn,Ghi chú

# TDTU_2021

In [55]:
import pandas as pd
import re
import os

# File path
file_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\2021_điểm chuẩn.md"

# Output folder
output_folder = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2021"
os.makedirs(output_folder, exist_ok=True)  # Create folder if it doesn't exist

# Read the file
with open(file_path, 'r', encoding='utf-8') as file:
    content = file.read()

# Extract all Heading 3 (###) into a list
heading_3_list = re.findall(r"^### (.+)", content, re.MULTILINE)

# Clean the list: remove \xa0 and ** from headings
heading_3_list = [heading.replace('\xa0', ' ').replace('**', '') for heading in heading_3_list]

# Function to parse markdown tables
def extract_markdown_tables(content):
    tables = []
    matches = re.findall(r'(\|.*?\|\n(?:\|[-:|]*\|\n)?(?:\|.*?\|\n)*)', content)
    for match in matches:
        rows = [row.strip().split('|')[1:-1] for row in match.strip().split('\n') if row.startswith('|')]
        if len(rows) > 1:  # Check for valid table
            # Remove the second row (separator row)
            rows.pop(1)
            headers = [header.strip() for header in rows[0]]
            data = [[cell.strip() for cell in row] for row in rows[1:]]
            tables.append(pd.DataFrame(data, columns=headers))
    return tables

# Extract tables
tables = extract_markdown_tables(content)

In [56]:
len(tables)

6

In [57]:
pd.DataFrame(tables[0][:5])

,TT,Mã ngành,Tên ngành,Tổ hợp xét tuyển,"Môn nhân hệ số 2, điều kiện",Điểm trúng tuyển(theo thang điểm 40),Ghi chú
0,1,7220201,Ngôn ngữ Anh,D01; D11,Anh,"35,60","Môn nhân hệ số 2, điều kiện: Anh<br><br>Điểm t..."
1,2,7310630,Việt Nam học (Chuyên ngành: Du lịch và lữ hành),A01; C00; C01; D01,"A01, D01: Anh C00, C01: Văn","33,30",
2,3,7310630Q,Việt Nam học (Chuyên ngành: Du lịch và quản lý...,A01; C00; C01; D01,"A01, D01: Anh C00, C01: Văn","34,20",
3,4,7340101,Quản trị kinh doanh (Chuyên ngành: Quản trị ng...,A00; A01; D01,"A00: Toán, A01, D01: Anh","36,00",
4,5,7340115,Marketing,A00; A01; D01,"A00: Toán, A01, D01: Anh","36,90",

In [58]:
df_1 = tables[0]
df_1.columns
df_1["Ghi chú"] = "Môn nhân hệ số 2, điều kiện: " + df_1["Môn nhân hệ số 2, điều kiện"] + \
                "\n " + "Điểm trúng tuyển(theo thang điểm 40)"

df_1 = df_1.drop(columns=["Môn nhân hệ số 2, điều kiện"])
df_1 = df_1.rename(columns={"Điểm trúng tuyển(theo thang điểm 40)": "Điểm chuẩn"})

In [59]:
# Định nghĩa đường dẫn và tên tệp
output_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2021"
filename = "1_2021_TDTU.xlsx"

# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_1.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2021\1_2021_TDTU.xlsx

## tab2

In [60]:
df_2 = tables[1]
df_2.columns

Index(['STT', 'Mã ngành', 'Tên ngành', 'Tổ hợp', 'Điểm đạt sơ tuyển ĐT1',
       'Điểm đạt sơ tuyển ĐT2', 'Ghi chú'],
      dtype='object')

In [61]:
# Tách dữ liệu thành hai DataFrame riêng
df_2_1 = df_2[['STT', 'Mã ngành', 'Tên ngành', 'Tổ hợp', 'Điểm đạt sơ tuyển ĐT1', 'Ghi chú']].copy()
df_2_1 = df_2_1.rename(columns={"Điểm đạt sơ tuyển ĐT1": "Điểm chuẩn"})

#
df_2_2 = df_2[['STT', 'Mã ngành', 'Tên ngành', 'Tổ hợp', 'Điểm đạt sơ tuyển ĐT2', 'Ghi chú']].copy()
df_2_2 = df_2_2.rename(columns={"Điểm đạt sơ tuyển ĐT2": "Điểm chuẩn"})

In [62]:
df_2_1[:5]

,STT,Mã ngành,Tên ngành,Tổ hợp,Điểm chuẩn,Ghi chú
0,1,7220201,Ngôn ngữ Anh,"Toán, Văn, Anh*2","36,00",
1,2,7220204,Ngôn ngữ Trung Quốc,"Toán, Văn, Anh*2","35,00",
2,3,7310301,Xã hội học,"Văn*2, Anh, Sử","31,00",
3,4,7310630,Việt Nam học _(Chuyên ngành: Du lịch và lữ hành)_,"Văn*2, Anh, Sử","33,50",
4,5,7310630Q,Việt Nam học _(Chuyên ngành: Du lịch và quản l...,"Văn*2, Anh, Sử","33,50",

In [63]:
df_2_2[-5:]

,STT,Mã ngành,Tên ngành,Tổ hợp,Điểm chuẩn,Ghi chú
59,8,FA7420201,Công nghệ sinh học - Chương trình đại học bằng...,,"30,00",1. Đối tượng 1: (ĐTB HK1 L10 + ĐTB HK2 L10 + Đ...
60,9,FA7480101,Khoa học máy tính - Chương trình đại học bằng ...,,"30,00",1. Đối tượng 1: (ĐTB HK1 L10 + ĐTB HK2 L10 + Đ...
61,10,FA7480103,Kỹ thuật phần mềm - Chương trình đại học bằng ...,,"30,00",1. Đối tượng 1: (ĐTB HK1 L10 + ĐTB HK2 L10 + Đ...
62,11,FA7520216,Kỹ thuật điều khiển và tự động hóa - Chương tr...,,"30,00",1. Đối tượng 1: (ĐTB HK1 L10 + ĐTB HK2 L10 + Đ...
63,12,FA7580201,Kỹ thuật xây dựng - Chương trình đại học bằng ...,,"30,00",1. Đối tượng 1: (ĐTB HK1 L10 + ĐTB HK2 L10 + Đ...

In [64]:
# Định nghĩa đường dẫn và tên tệp
output_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2021"
filename1 = "5_2021_TDTU.xlsx"
filename2 = "6_2021_TDTU.xlsx"

# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename1}"
df_2_1.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

full_output_path = f"{output_path}\{filename2}"
df_2_2.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2021\5_2021_TDTU.xlsx
File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2021\6_2021_TDTU.xlsx

## Tab3

In [65]:
df_3 = tables[2]
df_3.columns

Index(['STT', 'Mã ngành', 'Tên ngành', 'Tổ hợp', 'Điểm đạt sơ tuyển'], dtype='object')

In [66]:
df_3["Ghi chú"] = "Điểm trúng tuyển(theo thang điểm 40)"

df_3 = df_3.rename(columns={"Điểm đạt sơ tuyển": "Điểm chuẩn"})

In [67]:
df_4 = tables[3]
df_4.columns

df_4 = df_4.rename(columns={"Điểm đạt sơ tuyển ĐT1": "Điểm chuẩn"})
df_4["Ghi chú"] =  "(ĐTB HK1 L10 + ĐTB HK2 L10 + ĐTB HK1 L11 + ĐTB HK2 L11 + ĐTB HK1 L12) * 4/5 + Điểm ưu tiên theo trường THPT (nếu có) + Điểm ưu tiên đối tượng, khu vực (nếu có) \n" \
 +" Điểm trúng tuyển(theo thang điểm 40)"

In [68]:
df_34 = pd.concat([df_3, df_4], axis=0)
df_34[50:55]

,STT,Mã ngành,Tên ngành,Tổ hợp,Điểm chuẩn,Ghi chú
50,15,F7520216,Kỹ thuật điều khiển và tự động hóa - Chất lượn...,"Toán*2, Anh, Lý","27,00",Điểm trúng tuyển(theo thang điểm 40)
51,16,F7580201,Kỹ thuật xây dựng - Chất lượng cao,"Toán*2, Anh, Lý","27,00",Điểm trúng tuyển(theo thang điểm 40)
0,1,FA7220201,Ngôn ngữ Anh _- Chương trình đại học bằng tiến...,NaN,"32,00",(ĐTB HK1 L10 + ĐTB HK2 L10 + ĐTB HK1 L11 + ĐTB...
1,2,FA7310630Q,Việt Nam học _(Chuyên ngành: Du lịch và Quản l...,NaN,"27,00",(ĐTB HK1 L10 + ĐTB HK2 L10 + ĐTB HK1 L11 + ĐTB...
2,3,FA7340101N,Quản trị kinh doanh _(Chuyên ngành: Quản trị n...,NaN,"32,00",(ĐTB HK1 L10 + ĐTB HK2 L10 + ĐTB HK1 L11 + ĐTB...

In [69]:
# Định nghĩa đường dẫn và tên tệp
output_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2021"
filename = "2_2021_TDTU.xlsx"

# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_34.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2021\2_2021_TDTU.xlsx

## tab 5

In [70]:
df_5 = tables[4] 
df_5.columns

df_5["Ghi chú"] =  "Điểm trúng tuyển(theo thang điểm 40)"

## Tab 6

In [71]:
df_6 = tables[5] 
df_6.columns

df_6["Ghi chú"] =  "(ĐTB HK1 L10 + ĐTB HK2 L10 + ĐTB HK1 L11 + ĐTB HK2 L11 + ĐTB HK1 L12 + ĐTB HK2 L12) * 2/3 + Điểm ưu tiên theo trường THPT (nếu có) + Điểm ưu tiên đối tượng, khu vực (nếu có)"
df_6 = df_6.rename(columns={"Điểm đạt trúng tuyển": "Điểm chuẩn"})

In [72]:
df_56 = pd.concat([df_5, df_6], axis=0)
df_34[50:55]

,STT,Mã ngành,Tên ngành,Tổ hợp,Điểm chuẩn,Ghi chú
50,15,F7520216,Kỹ thuật điều khiển và tự động hóa - Chất lượn...,"Toán*2, Anh, Lý","27,00",Điểm trúng tuyển(theo thang điểm 40)
51,16,F7580201,Kỹ thuật xây dựng - Chất lượng cao,"Toán*2, Anh, Lý","27,00",Điểm trúng tuyển(theo thang điểm 40)
0,1,FA7220201,Ngôn ngữ Anh _- Chương trình đại học bằng tiến...,NaN,"32,00",(ĐTB HK1 L10 + ĐTB HK2 L10 + ĐTB HK1 L11 + ĐTB...
1,2,FA7310630Q,Việt Nam học _(Chuyên ngành: Du lịch và Quản l...,NaN,"27,00",(ĐTB HK1 L10 + ĐTB HK2 L10 + ĐTB HK1 L11 + ĐTB...
2,3,FA7340101N,Quản trị kinh doanh _(Chuyên ngành: Quản trị n...,NaN,"32,00",(ĐTB HK1 L10 + ĐTB HK2 L10 + ĐTB HK1 L11 + ĐTB...

In [73]:
# Định nghĩa đường dẫn và tên tệp
output_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2021"
filename = "3_2021_TDTU.xlsx"

# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_56.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2021\3_2021_TDTU.xlsx

# TDTU 2022

## Table 1

In [99]:
import pandas as pd
import re
import os

# File path
file_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\2022_điểm chuẩn.md"

# Output folder
output_folder = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2022"
os.makedirs(output_folder, exist_ok=True)  # Create folder if it doesn't exist

# Read the file
with open(file_path, 'r', encoding='utf-8') as file:
    content = file.read()

# Extract all Heading 3 (###) into a list
heading_3_list = re.findall(r"^### (.+)", content, re.MULTILINE)

# Clean the list: remove \xa0 and ** from headings
heading_3_list = [heading.replace('\xa0', ' ').replace('**', '') for heading in heading_3_list]

# Function to parse markdown tables
def extract_markdown_tables(content):
    tables = []
    matches = re.findall(r'(\|.*?\|\n(?:\|[-:|]*\|\n)?(?:\|.*?\|\n)*)', content)
    for match in matches:
        rows = [row.strip().split('|')[1:-1] for row in match.strip().split('\n') if row.startswith('|')]
        if len(rows) > 1:  # Check for valid table
            # Remove the second row (separator row)
            rows.pop(1)
            headers = [header.strip() for header in rows[0]]
            data = [[cell.strip() for cell in row] for row in rows[1:]]
            tables.append(pd.DataFrame(data, columns=headers))
    return tables

# Extract tables
tables = extract_markdown_tables(content)

In [75]:
len(tables) # Bỏ đi cái 3

4

**Phương thức 1: Xét tuyển theo kết quả quá trình học tập THPT**

**Phương thức 2. Xét tuyển theo kết quả thi tốt nghiệp THPT năm 2022**

**Phương thức 3. Ưu tiên xét tuyển theo quy định của TDTU**

**Phương thức 4: X****ét tuyển thẳng, ưu tiên xét tuyển theo Quy chế tuyển sinh của Bộ GD&ĐT**

**Phương thức 5: Xét tuyển theo kết quả bài thi đánh giá năng lực của Đại học Quốc gia Thành phố Hồ Chí Minh.**

**(PT3-ĐT1-Đ2)**; ưu tiên xét tuyển theo quy định của TDTU dành cho học sinh có chứng chỉ tiếng Anh quốc tế tương đương IELTS 5.0 trở lên


**(PT3-ĐT2-Đ2)**: Điểm xét tuyển được thực hiện theo đúng đề án tuyển sinh đại học năm 2022, thang điểm 40 và được làm tròn đến 02 chữ số thập phân (đã bao gồm điểm ưu tiên khu vực, đối tượng, hệ số trường THPT, điểm ưu tiên thành tích học sinh giỏi).

In [100]:
df_1 = tables[0] 
df_1.columns

Index(['STT', 'Mã ngành', 'Tên ngành', 'Điểm TT PT1-Đ2', 'Điểm TT PT2',
       'Điểm TT PT3-ĐT1-Đ2', 'Điểm TT PT3-ĐT2-Đ2', 'Điểm TT PT5'],
      dtype='object')

In [77]:
df_1[:5]

,STT,Mã ngành,Tên ngành,Điểm TT PT1-Đ2,Điểm TT PT2,Điểm TT PT3-ĐT1-Đ2,Điểm TT PT3-ĐT2-Đ2,Điểm TT PT5
0,1,7210402,Thiết kế công nghiệp,26.5,23,30,,650 HHMT≥6.0
1,2,7210403,Thiết kế đồ họa,29.5,27,32,,700 HHMT≥6.0
2,3,7210404,Thiết kế thời trang,26.5,24,30,,650 HHMT≥6.0
3,4,7220201,Ngôn ngữ Anh,37,34,36,,800
4,5,7220204,Ngôn ngữ Trung Quốc,37,33,35,,800

In [101]:
# Tách dữ liệu thành hai DataFrame riêng
df_1_1 = df_1[['STT', 'Mã ngành', 'Tên ngành', 'Điểm TT PT1-Đ2']].copy()
df_1_1 = df_1_1.rename(columns={"Điểm TT PT1-Đ2": "Điểm chuẩn"})

df_1_1['Tổ hợp'] = ""
df_1_1['Ghi chú'] = "ưu tiên xét tuyển theo quy định của TDTU dành cho học sinh trường chuyên trên cả nước và một số trường trọng điểm ở TP.HCM. " + " Điểm trúng tuyển(theo thang điểm 40)"

# #
df_1_2 = df_1[['STT', 'Mã ngành', 'Tên ngành', 'Điểm TT PT2']].copy()
df_1_2 = df_1_2.rename(columns={"Điểm TT PT2": "Điểm chuẩn"})

df_1_2['Tổ hợp'] = ""
df_1_2['Ghi chú'] = ""

In [80]:
df_1_3 = df_1[['STT', 'Mã ngành', 'Tên ngành', 'Điểm TT PT3-ĐT1-Đ2']].copy()
df_1_3 = df_1_3.rename(columns={"Điểm TT PT3-ĐT1-Đ2": "Điểm chuẩn"})

df_1_3['Tổ hợp'] = ""
df_1_3['Ghi chú'] = "ưu tiên xét tuyển theo quy định của TDTU dành cho học sinh có chứng chỉ tiếng Anh quốc tế tương đương IELTS 5.0 trở lên"

In [82]:
# DGNL
df_1_5 = df_1[['STT', 'Mã ngành', 'Tên ngành', 'Điểm TT PT5']].copy()
df_1_5 = df_1_5.rename(columns={"Điểm TT PT5": "Điểm chuẩn"})

df_1_5['Tổ hợp'] = ""
df_1_5['Ghi chú'] = ""

In [83]:
df_1_5[:5]

  STT Mã ngành             Tên ngành    Điểm chuẩn Tổ hợp Ghi chú
0   1  7210402  Thiết kế công nghiệp  650 HHMT≥6.0
1   2  7210403       Thiết kế đồ họa  700 HHMT≥6.0
2   3  7210404   Thiết kế thời trang  650 HHMT≥6.0
3   4  7220201          Ngôn ngữ Anh           800
4   5  7220204   Ngôn ngữ Trung Quốc           800

In [84]:
# Định nghĩa đường dẫn và tên tệp
output_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2022"
filename = "5_2022_TDTU.xlsx"

# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_1_3.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

filename = "4_2022_TDTU.xlsx"
# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_1_5.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2022\5_2022_TDTU.xlsx
File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2022\4_2022_TDTU.xlsx

## Table 2, 4

In [85]:
df_2 = tables[1] 
df_4 = tables[3]

In [51]:
df_24 = pd.concat([df_2, df_4], axis= 0)
df_24[:5]

,STT,Mã ngành,Tên ngành,Điểm TT PT1-Đ2,Điểm TT PT2,Điểm TT PT3-ĐT1-Đ2,Điểm TT PT3-ĐT2-Đ2,Điểm TT PT5
0,1,FA7220201,Ngôn ngữ Anh – Chương trình đại học bằng tiếng...,32,25,30,34.5,700
1,2,FA7310630Q,Việt Nam học (Chuyên ngành Du lịch và Quản lý ...,28,24,28,28,650
2,3,FA7340101N,Quản trị kinh doanh (Chuyên ngành: Quản trị nh...,30,27,30,30,650
3,4,FA7340115,Marketing - Chương trình đại học bằng tiếng Anh,34,27,32,36,700
4,5,FA7340120,Kinh doanh quốc tế - Chương trình đại học bằng...,34,27,32,36,700

In [90]:
df_24.columns

Index(['STT', 'Mã ngành', 'Tên ngành', 'Điểm TT PT1-Đ2', 'Điểm TT PT2',
       'Điểm TT PT3-ĐT1-Đ2', 'Điểm TT PT3-ĐT2-Đ2', 'Điểm TT PT5'],
      dtype='object')

In [91]:
# Tách dữ liệu thành hai DataFrame riêng
df_24_1 = df_24[['STT', 'Mã ngành', 'Tên ngành', 'Điểm TT PT1-Đ2']].copy()
df_24_1 = df_24_1.rename(columns={"Điểm TT PT1-Đ2": "Điểm chuẩn"})

df_24_1['Tổ hợp'] = ""
df_24_1['Ghi chú'] = ""

# #
df_24_2 = df_24[['STT', 'Mã ngành', 'Tên ngành', 'Điểm TT PT2']].copy()
df_24_2 = df_24_2.rename(columns={"Điểm TT PT2": "Điểm chuẩn"})

df_24_2['Tổ hợp'] = ""
df_24_2['Ghi chú'] = ""

In [92]:
# Tách dữ liệu thành hai DataFrame riêng
df_24_3 = df_24[['STT', 'Mã ngành', 'Tên ngành', 'Điểm TT PT3-ĐT1-Đ2']].copy()
df_24_3 = df_24_3.rename(columns={"Điểm TT PT3-ĐT1-Đ2": "Điểm chuẩn"})

df_24_3['Tổ hợp'] = ""
df_24_3['Ghi chú'] = ""

# #
df_24_4 = df_24[['STT', 'Mã ngành', 'Tên ngành', 'Điểm TT PT3-ĐT2-Đ2']].copy()
df_24_4 = df_24_4.rename(columns={"Điểm TT PT3-ĐT2-Đ2": "Điểm chuẩn"})

df_24_4['Tổ hợp'] = ""
df_24_4['Ghi chú'] = ""

# #
df_24_5 = df_24[['STT', 'Mã ngành', 'Tên ngành', 'Điểm TT PT5']].copy()
df_24_5 = df_24_5.rename(columns={"Điểm TT PT5": "Điểm chuẩn"})

df_24_5['Tổ hợp'] = ""
df_24_5['Ghi chú'] = ""

## Nối lại

In [115]:
# Nối cột 1/5
df_1_td = pd.concat([df_1_1, df_24_1], axis= 0)
df_2_td = pd.concat([df_1_2, df_24_2], axis= 0)
df_3_td = pd.concat([df_1_3, df_24_3], axis= 0)
df_5_td = pd.concat([df_1_5, df_24_5], axis= 0)

In [116]:
# Định nghĩa đường dẫn và tên tệp
output_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2022"
filename = "3_2022_TDTU.xlsx"

# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_1_td.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

#--------
filename = "1_2022_TDTU.xlsx"
# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_2_td.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

#--------
filename = "5_2022_TDTU.xlsx"
# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_3_td.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

#--------
filename = "4_2022_TDTU.xlsx"
# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_5_td.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

#--------
filename = "6_2022_TDTU.xlsx"
# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_24_4.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2022\3_2022_TDTU.xlsx
File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2022\1_2022_TDTU.xlsx
File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2022\5_2022_TDTU.xlsx
File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2022\4_2022_TDTU.xlsx
File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2022\6_2022_TDTU.xlsx

# TDTU 2023

In [2]:
import pandas as pd
import re
import os

# File path
file_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\2023_Điểm chuẩn.md"

# Output folder
output_folder = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2023"
os.makedirs(output_folder, exist_ok=True)  # Create folder if it doesn't exist

# Read the file
with open(file_path, 'r', encoding='utf-8') as file:
    content = file.read()

# Extract all Heading 3 (###) into a list
heading_3_list = re.findall(r"^### (.+)", content, re.MULTILINE)

# Clean the list: remove \xa0 and ** from headings
heading_3_list = [heading.replace('\xa0', ' ').replace('**', '') for heading in heading_3_list]

# Function to parse markdown tables
def extract_markdown_tables(content):
    tables = []
    matches = re.findall(r'(\|.*?\|\n(?:\|[-:|]*\|\n)?(?:\|.*?\|\n)*)', content)
    for match in matches:
        rows = [row.strip().split('|')[1:-1] for row in match.strip().split('\n') if row.startswith('|')]
        if len(rows) > 1:  # Check for valid table
            # Remove the second row (separator row)
            rows.pop(1)
            headers = [header.strip() for header in rows[0]]
            data = [[cell.strip() for cell in row] for row in rows[1:]]
            tables.append(pd.DataFrame(data, columns=headers))
    return tables

# Extract tables
tables = extract_markdown_tables(content)

In [4]:
df_1 = tables[0] 
df_1.columns

Index(['STT', 'Mã ngành', 'Tên ngành', 'Điểm PT1-Đ2', 'Điểm PT2', 'Điểm PT4'], dtype='object')

In [5]:
df_1

,STT,Mã ngành,Tên ngành,Điểm PT1-Đ2,Điểm PT2,Điểm PT4
0,1,7210403,Thiết kế đồ họa,"29,50","31,00","700<br>Vẽ HHMT ≥ 6,0"
1,2,7210404,Thiết kế thời trang,"27,00","26,50","650<br>Vẽ HHMT ≥ 6,0"
2,3,7220201,Ngôn ngữ Anh,"36,50","33,50",820
3,4,7220204,Ngôn ngữ Trung Quốc,"36,00","32,20",800
4,5,7310301,Xã hội học,"33,75","31,25",690
...,...,...,...,...,...,...
74,5,K7340301,"Kế toán (song bằng, 3+1) - Chương trình liên k...","28,00","22,00",650
75,6,K7480101L,"Công nghệ thông tin (song bằng, 2+2) - Chương ...","28,50","31,00",700
76,7,K7480101T,Khoa học máy tính (đơn bằng 2+2) - Chương trìn...,"28,00","26,00",700
77,8,K7520201,"Kỹ thuật điện – điện tử (song bằng, 2.5+1.5) -...","28,00","24,00",650
78,9,K7580201,"Kỹ thuật xây dựng (song bằng, 2+2) - Chương tr...","28,00","22,00",650

In [10]:
df_1_1 = df_1[['STT', 'Mã ngành', 'Tên ngành', 'Điểm PT1-Đ2']].copy()
df_1_1 = df_1_1.rename(columns={"Điểm PT1-Đ2": "Điểm chuẩn"})

df_1_1['Tổ hợp'] = ""
df_1_1['Ghi chú'] = "" 

# col2
df_1_2 = df_1[['STT', 'Mã ngành', 'Tên ngành', 'Điểm PT2']].copy()
df_1_2 = df_1_2.rename(columns={"Điểm PT2": "Điểm chuẩn"})

df_1_2['Tổ hợp'] = ""
df_1_2['Ghi chú'] = "" 

#col3
df_1_3 = df_1[['STT', 'Mã ngành', 'Tên ngành', 'Điểm PT4']].copy()
df_1_3 = df_1_3.rename(columns={"Điểm PT4": "Điểm chuẩn"})

df_1_3['Tổ hợp'] = ""
df_1_3['Ghi chú'] = ""

In [15]:
output_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2023"
filename = "3_2023_TDTU.xlsx"

# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_1_1.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

#--------
filename = "1_2023_TDTU.xlsx"
# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_1_2.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

filename = "4_2023_TDTU.xlsx"
# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_1_3.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2023\3_2023_TDTU.xlsx
File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2023\1_2023_TDTU.xlsx
File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2023\4_2023_TDTU.xlsx

# 2024

In [9]:
import pandas as pd
import re
import os

# File path
file_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\2024_Điểm chuẩn.md"

# Output folder
output_folder = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2024"
os.makedirs(output_folder, exist_ok=True)  # Create folder if it doesn't exist

# Read the file
with open(file_path, 'r', encoding='utf-8') as file:
    content = file.read()

# Function to parse markdown tables
def extract_markdown_tables(content):
    tables = []
    matches = re.findall(r'(\|.*?\|\n(?:\|[-:|]*\|\n)?(?:\|.*?\|\n)*)', content)
    for match in matches:
        rows = [row.strip().split('|')[1:-1] for row in match.strip().split('\n') if row.startswith('|')]
        if len(rows) > 1:  # Check for valid table
            # Remove the second row (separator row)
            rows.pop(1)
            headers = [header.strip() for header in rows[0]]
            data = [[cell.strip() for cell in row] for row in rows[1:]]
            tables.append(pd.DataFrame(data, columns=headers))
    return tables

# Extract tables
tables = extract_markdown_tables(content)

In [2]:
len(tables)

2

In [3]:
df_1 = tables[0] 
df_1.columns

Index(['STT', 'Mã ngành', 'Tên ngành', 'Tổ hợp xét tuyển',
       'Môn nhân hệ số 2, điều kiện', 'Điểm trúng tuyển PT2 (thang điểm 40)'],
      dtype='object')

In [4]:
df_1[:5]

,STT,Mã ngành,Tên ngành,Tổ hợp xét tuyển,"Môn nhân hệ số 2, điều kiện",Điểm trúng tuyển PT2 (thang điểm 40)
0,1,7210403,Thiết kế đồ họa,H00; H01; H02; H03,"H00, H02: Vẽ HHMT, Vẽ HHMT ≥ 6,0; Vẽ TTM ≥ 6,0","31,50"
1,2,7210404,Thiết kế thời trang,H00; H01; H02; H03,"H00, H02: Vẽ HHMT, Vẽ HHMT ≥ 6,0; Vẽ TTM ≥ 6,0","30,60"
2,3,7220201,Ngôn ngữ Anh,D01; D11,Anh,"33,80"
3,4,7220204,Ngôn ngữ Trung Quốc,D01; D04; D11; D55,"D01, D11: Anh, D04, D55: Trung Quốc","32,50"
4,5,7310301,Xã hội học,A01; C00; C01; D01,"A01, D01: Anh, C00, C01: Văn","32,30"

In [5]:
df_1["Ghi chú"] = "Môn nhân hệ số 2, điều kiện: " + df_1["Môn nhân hệ số 2, điều kiện"] + \
                "\n " + "Điểm trúng tuyển(theo thang điểm 40)"

df_1 = df_1.drop(columns=["Môn nhân hệ số 2, điều kiện"])
df_1 = df_1.rename(columns={"Điểm trúng tuyển PT2 (thang điểm 40)": "Điểm chuẩn"})

In [7]:
output_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2024"
filename = "1_2024_TDTU.xlsx"

# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_1.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2024\1_2024_TDTU.xlsx

In [10]:
df_2 = tables[1] 
df_2.columns

Index(['STT', 'Mã ngành', 'Tên ngành', 'PT1-5HK', 'PT1-6HK', 'PT3-ĐT1-5HK',
       'PT3-ĐT2-5HK', 'PT3-ĐT2-6HK', 'PT4'],
      dtype='object')

In [11]:
df_2_1 = df_2[['STT', 'Mã ngành', 'Tên ngành', 'PT1-5HK']].copy()
df_2_1 = df_2_1.rename(columns={"PT1-5HK": "Điểm chuẩn"})

df_2_1['Tổ hợp'] = ""
df_2_1['Ghi chú'] = "PT1-5HK" 

######
df_2_2 = df_2[['STT', 'Mã ngành', 'Tên ngành', 'PT1-6HK']].copy()
df_2_2 = df_2_2.rename(columns={"PT1-6HK": "Điểm chuẩn"})

df_2_2['Tổ hợp'] = ""
df_2_2['Ghi chú'] = "PT1-6HK"

In [19]:
output_path = r"E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2024"
filename = "2_2024_TDTU.xlsx"

# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_2_1.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")


filename = "3_2024_TDTU.xlsx"
# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_2_2.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2024\2_2024_TDTU.xlsx
File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2024\3_2024_TDTU.xlsx

In [20]:
######
df_2_6 = df_2[['STT', 'Mã ngành', 'Tên ngành', 'PT4']].copy()
df_2_6 = df_2_6.rename(columns={"PT4": "Điểm chuẩn"})

df_2_6['Tổ hợp'] = ""
df_2_6['Ghi chú'] = ""

In [21]:
filename = "4_2024_TDTU.xlsx"
# Lưu lại DataFrame dưới dạng file Excel
full_output_path = f"{output_path}\{filename}"
df_2_6.to_excel(full_output_path, index=False)
print(f"File đã được lưu tại: {full_output_path}")

File đã được lưu tại: E:\LLM_clone\Tdtu-chatbot\notebooks\Data Tuyển sinh\TDTU\Tables\2024\4_2024_TDTU.xlsx